black>=22.6.0
click~=8.1.3
flake8>=5.0.1
ipython==7.34.0
isort>=5.10.1
jupyter~=1.0
jupyterlab>=3.4.0
kedro~=0.18.2
kedro[pandas]
kedro-viz>=4.7.2
nbstripout~=0.4
pandas>=1.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
tqdm>=4.64
tables~=3.7.0
web3~=5.3

dash>=2.5.0
dash-bootstrap-components>=1.2.0